<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0;
  }

  p {
    margin: 0;
  }

.toolbar input{
  height: 24px;
  background-color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.toolbar button{
  height: 30px;
  width: 200px;
  background-color: #ffa500;
  border: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.spacer {
    flex: 1;
  }
  .flexcontainer {
      display: flex;
      justify-content: flex-start;   /* adjustment */
      position: relative;            /* new */
      width: 500px;
      height: 200px;
    }

.itemcenter {
      flex: 0 1 auto;
      position: absolute;             /* new */
      left: 50%;
      transform: translateX(-50%);
      align-items: center;
    }

.itemleft {
      flex: 0 1 auto;            /* new */
      
    }

  .toolbar {
    height: 60px;
    width:100%;
    display: flex;
    margin: -6px -5px 0 -5px;
    
    background-color: #000000;
    color: white;
    font-weight: 600;
    justify-content: flex-start;   /* align-items: center; */
      position: relative;

  align-items: center;
  }

  .toolbar img {
    margin: 0 16px;  
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  position: relative;
  z-index: 0;
  }
  .sideBar {
    position: absolute;
    top: 0; left: -10px; bottom: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 100;
    width: 25%;
  }
  .sideBar .title{
    
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  color:#ffa500;
  padding: 10px 10px;
  }
  .sideBar .description{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:#ffffff;
    padding: 10px 10px;
    }
    
  .full {
    z-index: 1;
  }
  .docusign button{
  height: 30px;
  width: 300px;
  background-color: #ffa500;
  border: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.sideBar .description a:any-link {
    
    color:#ffa500 !important;
    }

/*
  .buttonStyle {
    display: inline-block;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    
  }
  .buttonStyle:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    }
    .toolbar input[type="text"]
{
  display: inline-block;
	box-shadow: 0 0 5px #43D1AF;
	outline: none;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.toolbar input[type="text"]:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}*/
</style>


<div class="toolbar" role="banner">
  <img
    width="120"
    alt="Evacuate"
    src="assets/img/evaLogo.png"
  />

    <div class="itemcenter">
      <input type="text" id="address" placeholder="Write your address here" [(ngModel)]="address"  class="form-control" *ngIf="this.isFirstStep"/>
      <button (click)="addGeocodedMarker()" type="submit" *ngIf="this.isFirstStep">Find me</button>
      <button (click)="showDirections()" type="submit" *ngIf="!this.isFirstStep && !this.isEnd">Go to safe place</button> 
      <button (click)="startOver()" type="submit" *ngIf="this.isEnd">Start over</button> 
    </div>

  
</div>
<div class="content" role="main">
  <div class="sideBar" *ngIf="this.isSidebarVisible">
    <div class="title">
      {{ txtTitle}}
    </div>
    <div class="description">
      {{ txtDescription}}<br/><br/>
      <div [innerHTML]="txtFlights"></div>
    </div>
    <div class="docusign">
      <button (click)="s" type="submit">Click here to safe your posessions</button> 
    </div>
    
  </div>
  <div class="full" #map [style.width]="width" [style.height]="height"></div> 
<router-outlet></router-outlet>
